n8n/workflows/Report_Generator.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "generate-usage-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        580
      ],
      "id": "3715412f-26f2-4a04-aaab-5dd90080cdc5",
      "name": "Webhook1",
      "webhookId": "7020ef71-91b4-4838-8019-95aa626f5fea"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1220,
        420
      ],
      "id": "79ca665e-f532-40cf-9312-d24276bdc892",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise os seguintes dados e gere o relatório: {{ JSON.stringify($json) }}\nA data referência é: {{ $now.toFormat('yyyy-MM-01') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um analista especialista em eficiência energética. Seu objetivo é gerar um relatório executivo curto. Identifique o impacto técnico baseado no Z-Score."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -180,
        620
      ],
      "id": "74621738-01a8-4a1f-b49f-f558ed2db78f",
      "name": "AI Agent1",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -360,
        840
      ],
      "id": "0397ee14-0938-475e-8538-849f16198546",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oFo88N2Xv8aPE0w1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -420,
        580
      ],
      "id": "d00b9d6f-8a2c-4b34-aa50-f2a4b930b9c9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1240,
        920
      ],
      "id": "f28c371e-01ce-4562-98a6-2f8d87274070",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"relatorio_geral\": {\n    \"data_referencia\": \"string (ex: Janeiro 2026)\",\n    \"resumo_executivo\": \"string (analise macro do parque de clientes)\",\n    \"analise_detalhada\": [\n      {\n        \"cliente\": \"string\",\n        \"consumo_medio_3m\": \"number (last_3m_avg_kwh)\",\n        \"status\": \"string (normal/outlier)\",\n        \"observacao_tecnica\": \"string (explicacao breve do comportamento)\"\n      }\n    ],\n    \"recomendacao_imediata\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        20,
        820
      ],
      "id": "d6902bd8-2b7c-4ea7-bd78-ef47c2e4a44e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// O n8n passa os dados dentro de um array de objetos chamado 'items'\nfor (const item of items) {\n  // Acessa o caminho específico do seu JSON\n  const relatorio = item.json.output.relatorio_geral;\n  const analise = relatorio.analise_detalhada;\n\n  // Filtra o array contando apenas onde o status é 'outlier'\n  const contagem = analise.filter(cliente => cliente.status === 'outlier').length;\n\n  // Adiciona a nova chave. \n  // Nota: Objetos JS não garantem ordem visual, mas ao converter para JSON \n  // ele aparecerá no corpo do objeto.\n  relatorio.quantidade_outliers = contagem.toString();\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        920
      ],
      "id": "0d6973cc-233d-4724-8bc6-a45441a5b495",
      "name": "Contagem de Outliers"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\n// 1. Calcular a contagem de outliers para a Badge\nconst totalOutliers = input.analise_detalhada.filter(item => item.status === 'outlier').length;\n\n// 2. Função para gerar os últimos 12 meses cronologicamente\nconst gerarLabelsCronologicos = (dataRef) => {\n    const mesesNomes = [\"Jan\", \"Fev\", \"Mar\", \"Abr\", \"Mai\", \"Jun\", \"Jul\", \"Ago\", \"Set\", \"Out\", \"Nov\", \"Dez\"];\n    const labels = [];\n    const chavesBusca = [];\n    \n    let dataAtual = new Date(dataRef);\n    \n    for (let i = 11; i >= 0; i--) {\n        let d = new Date(dataAtual.getFullYear(), dataAtual.getMonth() - i, 1);\n        labels.push(`${mesesNomes[d.getMonth()]}/${d.getFullYear().toString().substring(2)}`);\n        \n        const ano = d.getFullYear();\n        const mes = (d.getMonth() + 1).toString().padStart(2, '0');\n        chavesBusca.push(`${ano}-${mes}`);\n    }\n    return { labels, chavesBusca };\n};\n\nconst { labels: labelsGrafico, chavesBusca } = gerarLabelsCronologicos(input.data_referencia);\n\nconst rawData = input.analise_detalhada.map((item, index) => {\n    const contrato = item.historico_contratos?.[0] || {};\n    const readings = contrato.readings || {};\n    const finalValues = chavesBusca.map(chave => {\n        const dataEncontrada = Object.keys(readings).find(k => k.startsWith(chave));\n        return dataEncontrada ? readings[dataEncontrada] : 0;\n    });\n\n    return {\n        ...item,\n        contractId: contrato.contract_id || \"N/A\",\n        isActive: contrato.is_active === true,\n        chartLabels: labelsGrafico,\n        chartValues: finalValues,\n        originalIndex: index,\n        selected: false \n    };\n});\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Dashboard de Consumo</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>\n    <style>\n        :root {\n            --bg-body: #f0f2f5;\n            --bg-card: #ffffff;\n            --text-main: #333333;\n            --text-secondary: #5f6368;\n            --border-color: #e0e0e0;\n            --row-hover: #f1f8ff;\n            --table-header: #f8f9fa;\n            --btn-secondary: #f8f9fa;\n            --input-bg: #ffffff;\n        }\n\n        [data-theme=\"dark\"] {\n            --bg-body: #121212;\n            --bg-card: #1e1e1e;\n            --text-main: #e0e0e0;\n            --text-secondary: #aaaaaa;\n            --border-color: #333333;\n            --row-hover: #2c2c2c;\n            --table-header: #252525;\n            --btn-secondary: #333333;\n            --input-bg: #252525;\n        }\n\n        body { font-family: 'Segoe UI', Tahoma, sans-serif; background: var(--bg-body); padding: 20px; color: var(--text-main); transition: background 0.3s, color 0.3s; }\n        .card { background: var(--bg-card); padding: 25px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.2); max-width: 1200px; margin: auto; position: relative; }\n        \n        .header-container { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 10px; }\n        .header-left h1 { color: #1a73e8; margin: 0; }\n        \n        .theme-toggle {\n            cursor: pointer; background: var(--btn-secondary); border: 1px solid var(--border-color);\n            padding: 8px 12px; border-radius: 8px; color: var(--text-main); font-weight: bold;\n            display: flex; align-items: center; gap: 8px; transition: 0.2s;\n        }\n\n        .outlier-count-badge {\n            background: #d93025; color: white; padding: 8px 16px; border-radius: 50px;\n            font-weight: bold; font-size: 0.9em; display: flex; align-items: center; gap: 8px;\n        }\n\n        .ref-date { color: var(--text-secondary); margin: 5px 0 20px 0; font-size: 0.95em; }\n\n        .controls-row { display: flex; gap: 15px; margin-bottom: 10px; align-items: center; }\n        .search-container { flex-grow: 1; }\n        #searchInput {\n            width: 100%; padding: 12px 15px; border: 2px solid var(--border-color); border-radius: 8px;\n            font-size: 1em; outline: none; transition: 0.3s; box-sizing: border-box;\n            background: var(--input-bg); color: var(--text-main);\n        }\n\n        /* Estilo dos Filtros por Status */\n        .filter-container { display: flex; gap: 10px; margin-bottom: 20px; flex-wrap: wrap; }\n        .filter-chip {\n            padding: 6px 14px; border-radius: 20px; border: 1px solid var(--border-color);\n            background: var(--bg-card); color: var(--text-secondary); cursor: pointer;\n            font-size: 0.85em; font-weight: 600; transition: 0.2s;\n        }\n        .filter-chip:hover { background: var(--row-hover); }\n        .filter-chip.active { background: #1a73e8; color: white; border-color: #1a73e8; }\n\n        .btn-export { \n            padding: 10px 18px; border-radius: 8px; border: none; cursor: pointer; \n            font-weight: 600; font-size: 0.9em; display: flex; align-items: center; gap: 8px;\n            transition: all 0.2s; background: var(--btn-secondary); color: var(--text-main); border: 1px solid var(--border-color);\n        }\n        .btn-pdf { background: #fce8e6; color: #d93025; border: none; }\n        .btn-csv { background: #e6f4ea; color: #1e8e3e; border: none; }\n\n        table { width: 100%; border-collapse: collapse; }\n        th { background: var(--table-header); color: var(--text-secondary); text-transform: uppercase; font-size: 0.75em; padding: 15px; text-align: left; }\n        td { padding: 15px; border-bottom: 1px solid var(--border-color); }\n        \n        /* Cores dos Badges de Status */\n        .status-badge { padding: 4px 10px; border-radius: 20px; font-size: 0.7em; font-weight: bold; }\n        .status-normal { background: #e6f4ea; color: #1e8e3e; }\n        .status-outlier { background: #fce8e6; color: #d93025; }\n        .status-no-data { background: #fef7e0; color: #b05a00; } /* AMARELO para no recent data */\n        \n        .details-content { padding: 20px; border-left: 5px solid #1a73e8; background: var(--table-header); margin: 10px; border-radius: 4px; }\n        .chart-container { height: 250px; background: var(--bg-card); padding: 10px; border-radius: 8px; border: 1px solid var(--border-color); }\n    </style>\n</head>\n<body>\n    <div class=\"card\" id=\"dashboard-content\">\n        <div class=\"header-container\">\n            <div class=\"header-left\">\n                <h1>Dashboard de Gestão Energética</h1>\n                <p class=\"ref-date\">Mês de Análise: <strong>${input.data_referencia}</strong></p>\n            </div>\n            <div style=\"display: flex; gap: 10px;\">\n                <button class=\"theme-toggle\" onclick=\"toggleTheme()\" id=\"themeBtn\">🌙 Dark Mode</button>\n                ${totalOutliers > 0 ? `<div class=\"outlier-count-badge\"><span>⚠️</span><span>${totalOutliers} Outliers</span></div>` : ''}\n            </div>\n        </div>\n\n        <div class=\"controls-row\">\n            <div class=\"search-container\">\n                <input type=\"text\" id=\"searchInput\" onkeyup=\"renderTable()\" placeholder=\"🔍 Pesquisar por nome do cliente...\">\n            </div>\n            <button class=\"btn-export btn-csv\" onclick=\"exportCSV()\" id=\"btnCsv\"><span>📊</span> Exportar CSV</button>\n            <button class=\"btn-export btn-pdf\" onclick=\"exportPDF()\" id=\"btnPdf\"><span>📄</span> Gerar PDF</button>\n        </div>\n\n        <div class=\"filter-container\" id=\"filterContainer\">\n            <div class=\"filter-chip active\" onclick=\"setFilter('all', this)\">Todos</div>\n            <div class=\"filter-chip\" onclick=\"setFilter('normal', this)\">Normal</div>\n            <div class=\"filter-chip\" onclick=\"setFilter('outlier', this)\">Outlier</div>\n            <div class=\"filter-chip\" onclick=\"setFilter('no recent data', this)\">Sem Dados Recentes</div>\n        </div>\n\n        <table id=\"main-table\">\n            <thead>\n                <tr>\n                    <th style=\"width: 40px;\"><input type=\"checkbox\" id=\"selectAll\" onclick=\"toggleAll(this)\"></th>\n                    <th class=\"sortable\" onclick=\"handleSort('cliente')\">Cliente</th>\n                    <th class=\"sortable\" onclick=\"handleSort('consumo_medio_3m')\">Média (3m)</th>\n                    <th class=\"sortable\" onclick=\"handleSort('status')\">Status</th>\n                    <th>Observação Técnica</th>\n                </tr>\n            </thead>\n            <tbody id=\"tableBody\"></tbody>\n        </table>\n    </div>\n\n    <script>\n        let data = ${JSON.stringify(rawData)};\n        let currentSort = { column: null, direction: 'none' };\n        let currentFilter = 'all';\n        const charts = {};\n\n        function toggleTheme() {\n            const body = document.body;\n            const btn = document.getElementById('themeBtn');\n            const isDark = body.getAttribute('data-theme') === 'dark';\n            if (isDark) {\n                body.removeAttribute('data-theme');\n                btn.innerHTML = \"🌙 Dark Mode\";\n            } else {\n                body.setAttribute('data-theme', 'dark');\n                btn.innerHTML = \"☀️ Light Mode\";\n            }\n            Object.keys(charts).forEach(index => {\n                const row = document.getElementById('details-' + index);\n                if (row && row.style.display !== 'none') renderChart(index);\n            });\n        }\n\n        function setFilter(status, el) {\n            currentFilter = status;\n            document.querySelectorAll('.filter-chip').forEach(chip => chip.classList.remove('active'));\n            el.classList.add('active');\n            renderTable();\n        }\n\n        function toggleAll(masterCheckbox) {\n            const visibleItems = getFilteredData();\n            visibleItems.forEach(item => item.selected = masterCheckbox.checked);\n            renderTable();\n        }\n\n        function toggleItem(index) {\n            const item = data.find(d => d.originalIndex == index);\n            if (item) item.selected = !item.selected;\n            updateExportButtons();\n        }\n\n        function updateExportButtons() {\n            const selectedCount = data.filter(d => d.selected).length;\n            document.getElementById('btnCsv').disabled = selectedCount === 0;\n            document.getElementById('btnPdf').disabled = selectedCount === 0;\n            document.getElementById('btnCsv').innerHTML = \\`<span>📊</span> Exportar CSV (\\${selectedCount})\\`;\n            document.getElementById('btnPdf').innerHTML = \\`<span>📄</span> Gerar PDF (\\${selectedCount})\\`;\n        }\n\n        function handleSort(column) {\n            if (currentSort.column === column) {\n                currentSort.direction = currentSort.direction === 'asc' ? 'desc' : (currentSort.direction === 'desc' ? 'none' : 'asc');\n            } else {\n                currentSort.column = column;\n                currentSort.direction = 'asc';\n            }\n            renderTable();\n        }\n\n        function getFilteredData() {\n            const searchTerm = document.getElementById('searchInput').value.toLowerCase();\n            return data.filter(item => {\n                const matchesSearch = item.cliente.toLowerCase().includes(searchTerm);\n                const matchesFilter = currentFilter === 'all' || item.status === currentFilter;\n                return matchesSearch && matchesFilter;\n            });\n        }\n\n        function renderTable() {\n            const tbody = document.getElementById('tableBody');\n            let filtered = getFilteredData();\n\n            if (currentSort.direction !== 'none') {\n                filtered.sort((a, b) => {\n                    let valA = a[currentSort.column];\n                    let valB = b[currentSort.column];\n                    if (currentSort.column === 'consumo_medio_3m') {\n                        valA = parseFloat(valA) || 0;\n                        valB = parseFloat(valB) || 0;\n                    }\n                    return currentSort.direction === 'asc' ? (valA > valB ? 1 : -1) : (valA < valB ? 1 : -1);\n                });\n            }\n\n            tbody.innerHTML = filtered.map((item) => {\n                let statusClass = 'status-normal';\n                if(item.status === 'outlier') statusClass = 'status-outlier';\n                if(item.status === 'no recent data') statusClass = 'status-no-data';\n\n                return \\`\n                    <tr class=\"clickable-row\">\n                        <td><input type=\"checkbox\" \\${item.selected ? 'checked' : ''} onchange=\"toggleItem(\\${item.originalIndex})\"></td>\n                        <td onclick=\"handleRowClick('\\${item.originalIndex}')\" style=\"cursor:pointer\"><strong>\\${item.cliente}</strong></td>\n                        <td onclick=\"handleRowClick('\\${item.originalIndex}')\" style=\"cursor:pointer\">\\${item.consumo_medio_3m}</td>\n                        <td onclick=\"handleRowClick('\\${item.originalIndex}')\" style=\"cursor:pointer\"><span class=\"status-badge \\${statusClass}\">\\${item.status}</span></td>\n                        <td onclick=\"handleRowClick('\\${item.originalIndex}')\" style=\"cursor:pointer\">\\${item.observacao_tecnica}</td>\n                    </tr>\n                    <tr id=\"details-\\${item.originalIndex}\" style=\"display:none;\" class=\"details-row\">\n                        <td colspan=\"5\">\n                            <div class=\"details-content\">\n                                <div style=\"display:flex; justify-content:space-between; margin-bottom:10px;\">\n                                    <p><strong>ID do Contrato:</strong> \\${item.contractId}</p>\n                                    <button class=\"theme-toggle\" style=\"font-size: 0.8em;\" onclick=\"copyChartToClipboard(\\${item.originalIndex}, this)\">📷 Copiar Gráfico</button>\n                                </div>\n                                <div class=\"chart-container\">\n                                    <canvas id=\"chart-\\${item.originalIndex}\"></canvas>\n                                </div>\n                            </div>\n                        </td>\n                    </tr>\n                \\`;\n            }).join('');\n            updateExportButtons();\n        }\n\n        function handleRowClick(index) {\n            const row = document.getElementById('details-' + index);\n            const isOpening = (row.style.display === 'none');\n            if (isOpening) {\n                row.style.display = 'table-row';\n                renderChart(index);\n            } else {\n                row.style.display = 'none';\n            }\n        }\n\n        function renderChart(index) {\n            const isDark = document.body.getAttribute('data-theme') === 'dark';\n            const gridColor = isDark ? '#333333' : '#e0e0e0';\n            const textColor = isDark ? '#aaaaaa' : '#5f6368';\n            const item = data.find(d => d.originalIndex == index);\n            const ctx = document.getElementById('chart-' + index).getContext('2d');\n            if (charts[index]) charts[index].destroy();\n            charts[index] = new Chart(ctx, {\n                type: 'line',\n                data: {\n                    labels: item.chartLabels,\n                    datasets: [{ \n                        label: 'kWh', \n                        data: item.chartValues, \n                        borderColor: '#1a73e8', \n                        backgroundColor: 'rgba(26, 115, 232, 0.2)',\n                        fill: true,\n                        tension: 0.3\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    scales: {\n                        x: { grid: { color: gridColor }, ticks: { color: textColor } },\n                        y: { grid: { color: gridColor }, ticks: { color: textColor } }\n                    },\n                    plugins: { legend: { labels: { color: textColor } } }\n                }\n            });\n        }\n\n        async function copyChartToClipboard(index, button) {\n            const canvas = document.getElementById('chart-' + index);\n            canvas.toBlob(async (blob) => {\n                const item = new ClipboardItem({ \"image/png\": blob });\n                await navigator.clipboard.write([item]);\n                button.innerText = \"✅ Copiado!\";\n                setTimeout(() => button.innerText = \"📷 Copiar Gráfico\", 2000);\n            });\n        }\n\n        function exportCSV() {\n            const selected = data.filter(d => d.selected);\n            const csv = \"Cliente,Media,Status,Obs\\\\n\" + selected.map(i => \\`\"\\${i.cliente}\",\\${i.consumo_medio_3m},\\${i.status},\"\\${i.observacao_tecnica}\"\\`).join(\"\\\\n\");\n            const blob = new Blob([csv], { type: 'text/csv' });\n            const url = window.URL.createObjectURL(blob);\n            const a = document.createElement('a'); a.href = url; a.download = 'relatorio_energia.csv'; a.click();\n        }\n\n        function exportPDF() {\n            const element = document.getElementById('dashboard-content');\n            html2pdf().from(element).save('gestao_energetica.pdf');\n        }\n\n        renderTable();\n    </script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html: htmlContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        420
      ],
      "id": "7db96634-fd8f-4d74-bd84-b7220274f58b",
      "name": "Gerador HTML"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stats_calculadas AS (\n    SELECT\n        c.name AS client_name,\n        AVG(r.reading_kwh) FILTER (WHERE r.ref_date >= CURRENT_DATE - INTERVAL '3 months') AS last_3m_avg,\n        AVG(r.reading_kwh) AS historical_avg,\n        COALESCE(STDDEV(r.reading_kwh), 0) AS stddev\n    FROM customers c\n    JOIN contracts ct ON c.id = ct.customer_id\n    JOIN readings r ON ct.id = r.contract_id\n    GROUP BY c.name\n)SELECT\n    client_name,\n    ROUND(last_3m_avg::numeric, 2) AS last_3m_avg_kwh,\n    ROUND(historical_avg::numeric, 2) AS historical_avg_kwh,\n    stddev,\n    ABS((last_3m_avg - historical_avg) / stddev) as z_score,\n    CASE\n        WHEN stddev = 0 THEN 'no historical data'\n        WHEN last_3m_avg IS NULL THEN 'no recent data'\n        WHEN ABS((last_3m_avg - historical_avg) / stddev) > 1.5 THEN 'outlier'\n        ELSE 'normal'\n    END AS status FROM stats_calculadas;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -600,
        620
      ],
      "id": "aedf0a25-3147-4dc6-82f4-594460dbc44f",
      "name": "Query Dados Clientes",
      "credentials": {
        "postgres": {
          "id": "9N4kD9aMSlOedmhj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.id AS client_id,\n    c.name AS client_name,\n    jsonb_agg(\n        jsonb_build_object(\n            'contract_id', co.id,\n            'is_active', co.is_active,\n            'readings', (\n                SELECT jsonb_object_agg(re.ref_date, re.reading_kwh)\n                FROM readings re\n                WHERE re.contract_id = co.id\n            )\n        )\n    ) AS contract_series\nFROM customers c\nJOIN contracts co ON c.id = co.customer_id\nGROUP BY c.id, c.name;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        420
      ],
      "id": "653c290f-ad56-49c1-8a15-56a7d0d9c66e",
      "name": "Query Series Consumo",
      "credentials": {
        "postgres": {
          "id": "9N4kD9aMSlOedmhj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import pandas as pd\n\n# 1. Recupera os dados dos inputs\n# Input 0: Relatório da IA (Structured Output Parser)\n# Input 1: Dados do Postgres (Leituras agregadas)\nrelatorio_input = _('AI Agent1').all()\npostgres_input = _('Query Series Consumo').all()\n\n# 2. Extrai a lista de clientes do relatório da IA\n# Seguindo a estrutura: item['output']['relatorio_geral']['analise_detalhada']\nraw_data = relatorio_input[0].json\nrelatorio_geral = raw_data.get('output', {}).get('relatorio_geral', raw_data.get('relatorio_geral', {}))\nclientes_ia = relatorio_geral.get('analise_detalhada', [])\n\n# 3. Converte os dados do Postgres para um dicionário para busca rápida\n# Chave: nome do cliente (em minúsculas), Valor: contract_series\npostgres_map = {}\nfor item in postgres_input:\n    data = item.json\n    if 'client_name' in data:\n        # Padronizamos a chave para evitar erros de case-sensitive\n        nome_chave = str(data['client_name']).lower().strip()\n        postgres_map[nome_chave] = data.get('contract_series', [])\n\n# 4. Realiza o \"Merge\" manual injetando o histórico\nfor cliente in clientes_ia:\n    # Busca o nome no relatório (campo 'cliente') e tenta achar no mapa do Postgres\n    nome_busca = str(cliente.get('cliente', '')).lower().strip()\n    \n    # Se encontrar no banco de dados, anexa ao campo 'historico_contratos'\n    # Caso contrário, retorna uma lista vazia\n    cliente['historico_contratos'] = postgres_map.get(nome_busca, [])\n\n# 5. Prepara o retorno final mantendo a estrutura do relatório\nreturn {\n    \"data_referencia\": relatorio_geral.get('data_referencia'),\n    \"resumo_executivo\": relatorio_geral.get('resumo_executivo'),\n    \"analise_detalhada\": clientes_ia,\n    \"recomendacao_imediata\": relatorio_geral.get('recomendacao_imediata')\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        420
      ],
      "id": "64393fd9-f69d-412b-a4e1-9ac0ac80a439",
      "name": "Code",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9987bccd-e3f7-4795-af83-c1de9b172984",
              "leftValue": "={{ $('Webhook1').item.json.headers.accept }}",
              "rightValue": "text/html",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        580
      ],
      "id": "ec8d6a30-296b-44ca-8e31-06f1beaaec94",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Query Dados Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Contagem de Outliers": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Dados Clientes": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Series Consumo": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gerador HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Query Series Consumo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contagem de Outliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d2870a7-e6db-4e87-bbcf-5bde72686dea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74a45b952d61e2a237e88cd917918cd32cfd2a51ad5d3e5a199ad08d3f40cdd4"
  },
  "id": "oZuF7MYl2jTt1C4z",
  "tags": []
}